<%= stylesheet_link_tag 'risks', plugin: 'redmine_risk_management' %>

<div class='contextual'>
  <%= link_to t('label_risks_new'), new_project_risk_path(@project), class: 'icon icon-add' %>
</div>

<h2><%= t('label_risk_plural') %></h2>

<% if @risks.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <div class='autoscroll'>
    <table class='list risks'>
      <thead>
        <tr>
          <th></th>
          <% risk_table_columns.each do |column| %>
            <th><%= column %></th>
          <% end -%>
          <th><%= t(:label_risks_issues) %></th>
        </tr>
      </thead>

      <tbody>
        <% @risks.each do |risk| %>
          <tr class=<%= cycle('odd', 'even') %>>
            <td style='background-color: <%= risk.risk_status.color_name %> !important; border-color: <%= risk.risk_status.color_name %> !important;'></td>
            <% risk_table_columns.each do |column| %>
              <td class=<%= column.downcase %>>
                <% if risk_linkable_columns.include?(column) %>
                  <%= link_to risk.send(column.downcase), [@project, risk] %>

                  <% if column.downcase == 'title' %>
                    <div class='tag-label-color' style='background-color: <%= risk.risk_status.color_name %>'>
                      <span><%= risk.risk_status.name %></span>
                    </div>
                  <% end -%>
                <% else %>
                  <% if column.downcase == 'description' %>
                    <%= truncate risk.send(column.downcase), length: 200, omission: ' (...)' %>
                  <% else %>
                    <%= risk.send(column.downcase) %>
                  <% end -%>
                <% end -%>
              </td>
            <% end -%>

            <td>
            <% risk.issues.each do |issue| %>
              <p><%= link_to "##{issue.id}", issue %></p>
            <% end -%>
            </td>
          </tr>
        <% end -%>
      </tbody>
    </table>

    <p class='pagination'><%= pagination_links_full @risks_pages, @risks_count %></p>
  </div>

<% end %>
