<%= stylesheet_link_tag 'risks', plugin: 'redmine_risk_management' %>

<div class='contextual'>
  <%= link_to t(:button_edit), edit_project_risk_path(@project, @risk), class: 'icon icon-edit' %>
  <%= link_to t(:button_delete), [@project, @risk], confirm: t(:text_are_you_sure), method: :delete, class: 'icon icon-del' %>
</div>

<h2><%= "#{t('label_risk')} ##{@risk.id}" %></h2>

<div class='risk issue' style='border-left-color: <%= @risk.risk_status.color_name %> !important;"'>

  <div class='risk-status' style="background-color: <%= @risk.risk_status.color_name %>;">
    <p>
      <strong>Status:</strong>
      <%= @risk.risk_status.name %>
    </p>
  </div>

  <%= avatar(@risk.user, size: '50') %>

  <h3><%= @risk.title %></h3>

  <p>
    <%= authoring @risk.created_at, @risk.user %>.
    <% if @risk.created_at != @risk.updated_at %>
      <%= l(:label_updated_time, time_tag(@risk.updated_at)).html_safe %>.
    <% end %>
  </p>

  <table class='attributes'>
    <% %w{ probability impact criticality rationale }.each do |attribute| %>
      <tr>
        <td colspan='2'>
          <strong><%= t("field_#{attribute}") %>:</strong>
          <%= @risk.send(attribute) %>
        </td>
      </tr>
    <% end %>
  </table>

  <hr />
  <div>
    <p><strong><%= t(:field_description)%></strong></p>
    <div class='wiki'><%= textilizable @risk, :description %></div>
  </div>

  <hr />
  <div id='risk_issues'>
    <div class='contextual'>
      <%= link_to t(:button_add), new_project_issue_path(@project, 'issue[risk_id]' => @risk) %>
    </div>
    <p><strong><%= t(:label_risks_issues)%></strong></p>

    <% if @issues.present? %>
    <ul>
      <% @issues.each do |issue| %>
      <li>
        <%= link_to "#{h issue.tracker.name} ##{issue.id}", issue %>:
        <%= issue.subject %>
      </li>
      <% end -%>
    </ul>
    <% end -%>
  </div>
</div>
